<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/404.css">
    <title>Document</title>
</head>
<body>

    <div class="container404">

        <span>Oops! page not found</span>
        <span class="error404">404</span>
        <span>we are sorry but the page you request was</span>
        <span>not found</span>

    </div>

</body>
</html>
