<% if(dangerMessage[0]) { %> 

    

    <div id="alert" class="danger flash">

        <span><%= dangerMessage %> </span>
        <button onclick="closeAlert()" id="closeButton">
            <i class="fa-solid fa-xmark"></i>
        </button>
    
    </div>

<% } else if (successMessage[0]) { %> 

    <div id="alert" class="success flash">

        <span><%= successMessage %> </span>
        <button onclick="closeAlert()" id="closeButton">
            <i class="fa-solid fa-xmark"></i>
        </button>
    
    </div>

<% } %> 




