<% if(dangerMessage[0]) { %> 

    <div id="alert" class="danger">

        <span><%= dangerMessage %> </span>
        <button onclick="closeAlert()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    
    </div>

<% } else if (successMessage[0]) { %> 

    <div id="alert" class="success">

        <span><%= successMessage %> </span>
        <button onclick="closeAlert()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    
    </div>

<% } %> 




