<% if(dangerMessage[0]) { %> 

    <div id="alert">
    
    
        <div class="contentAlert" style="background: rgb(255, 0, 68);">

            <span><%= dangerMessage %> </span>
            <button onclick="closeAlert()">
                <i class="fa-solid fa-xmark"></i>
            </button>
            
        </div>
    
    
    
    </div>

<% } %> 
