    <link rel="stylesheet" href="/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" 
        rel="stylesheet">

    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
    <title>GYM</title>
</head>
<body>