<div class="manager">

    <div class="search">

        <form action="/clients/search" method="get">
            <label for="data"></label>
            <input type="text" name="data" id="search" placeholder="Search by Name / Phone">
            <button type="button" onclick="removeText()" id="removeButton">
                <i class="fa-solid fa-x"></i>
            </button>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

    </div>

    <div class="managerFooter">

        <div class="sorter">
    
            <a href="/clients">All</a>
            <a href="/clients/sort?sort=name&order=asc">
                <span>Name</span>
                <i class="fa-solid fa-arrow-trend-up"></i>
            </a>
            <a href="/clients/sort?sort=name&order=desc">
                <span>Name</span>
                <i class="fa-solid fa-arrow-trend-down"></i>
            </a>
            <a href="/clients/sort?sort=finalDate&order=desc">
                <span>Days Left</span>
                <i class="fa-solid fa-arrow-trend-up"></i>
            </a>
            <a href="/clients/sort?sort=finalDate&order=asc">
                <span>Days Left</span>
                <i class="fa-solid fa-arrow-trend-down"></i>
            </a>
            <a href="/clients/sort?sort=times&order=desc">
                <span>Times</span>
                <i class="fa-solid fa-arrow-trend-up"></i>
            </a>
            <a href="/clients/sort?sort=times&order=asc">
                <span>Times</span>
                <i class="fa-solid fa-arrow-trend-down"></i>
            </a>
    
        </div>
    
        <div class="add">
            <a href="/client/add">
                <i class="fa-solid fa-plus"></i>
                <span>New</span>
            </a>
        </div>

    </div>


</div>