<div class="options">

    <a href="/admin/gym/settings">
        <i class="fa-solid fa-hammer"></i>
        <span>GYM</span>
    </a>

    <a href="/admin/password/settings">
        <i class="fa-solid fa-key"></i>
        <span>Change Password</span>
    </a>

</div>