@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    background: #000;
    background-image: url(/images/fondo4042.jpg);
    background-size: cover;
}

.container404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    height: 100vh;
    
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-transform: uppercase;
}

.container404 .error404 {
    font-size: 18.75em;
}


@media only screen and (max-width: 850px){
    body {
        font-size: 11px;
    }
}

@media only screen and (max-width: 450px){
    body {
        font-size: 8px;
    }
}

@media only screen and (max-height: 450px){
    body {
        font-size: 9px;
    }
}