@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container404 {
    font-family: 'Nunito Sans', sans-serif;

    height: 100vh;
    background-image: url(/images/fondo4042.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.container404 .error404 {
    font-size: 21.875em;
}


@media only screen and (max-width: 850px){
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px){
    body {
        font-size: 12px;
    }
}