:root {
    --color-danger: rgb(255, 0, 68);
    --color-succesfully: #B3FFAE;
}

#alert {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 6vh;
    margin: auto;
    padding: 1.25em;
    border-radius: 0.625em;
    
    text-transform: capitalize;
}


#alert button {
    font-size: 0.9375em 1.25em 0.9375em 1.25em;
    border: none;
    
    background: transparent;
    cursor: pointer;
}

.danger {
    background: var(--color-danger);
    color: white;
}

.danger button {
    color: white;
}

.success {
    background: var(--color-succesfully);
    color: #1d1d1d;
}

.success button {
    color: #1d1d1d;
}