@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');


:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #222;
    --color-border: #333;

    --color-fullDays: #82CD47;
    --color-mediumDays: #7DE5ED;
    --color-zeroDays: rgb(255, 0, 68);
}

.container {
    grid-area: container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerClients {
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1.25em;
    margin-top: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25em;
}

.containerClients i {
    margin-right: 0.3125em;
}

.client {
    box-sizing: border-box;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
    padding: 1.25em;
    width: 45%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.client::before {
    z-index: -1;
    content: '  ';
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    transition: all .7s ease;
}

.client.fullDays::before {
    background: var(--color-fullDays);
}

.client.fullDays {
    border-bottom: 0.1875em solid var(--color-fullDays);
}

.client.mediumDays::before {
    background: var(--color-mediumDays);
}

.client.mediumDays {
    border-bottom: 0.1875em solid var(--color-mediumDays);
}

.client.zeroDays::before {
    background: var(--color-zeroDays);
}

.client.zeroDays {
    border-bottom: 0.1875em solid var(--color-zeroDays);
}

.client a {
    text-decoration: none;
    color: var(--color-text);
}

.client:hover::before {
    left: 120%;
}

.client:hover {
    background: #111;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.3125em;
    margin-bottom: 1.25em;
    position: relative;
}

.header span {
    font-family: 'Nunito Sans', sans-serif;

    text-transform: uppercase;
    font-size: 1.875em;
    font-weight: bold;
}

.header i {
    font-size: 1.375em;
}

.header button.buttonSubMenu {
    background: transparent;
    border: none;
    color: var(--color-text);
    font-size: 1.25em;
    cursor: pointer;
    border: 0.0625em solid red;
    padding: 0.125em 0.3125em 0.125em 0.3125em;
    position: relative;
}

.header .boxMenu {
    display: flex;
    flex-direction: column;
}

.buttonSubMenu:hover i {
    color: red;
}

.subMenu {
    background: white;
    position: absolute;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.body .date {
    font-weight: 400;
}

.body .time{
    font-weight: 800;
    font-size: 1.125em;
    display: flex;
    justify-content: space-between;
    padding-right: 0.625em;
}

.addFirstClient {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9375em;
}

.addFirstClient h4, .addFirstClient a {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
}

.addFirstClient a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 4.375em;
    position: relative;
    padding: 0.625em 1.25em 0.625em 1.25em;
    overflow: hidden;
    border-bottom: 0.1875em solid var(--color-text);
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
}

.addFirstClient a::before {
    content: ' ';
    position: absolute;
    background: var(--color-main);
    width: 40%;
    height: 100%;
    transition: all .5s ease;
    top: 0;
    left: -40%;

}

.addFirstClient a:hover::before {
    left: 100%;
}