@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 88%;
    min-height: 100vh;
    margin-left: 12%;
    padding: 40px;

    background-image: url('/images/cbum.jpg');
    background-attachment: fixed;
    background-size: 100vh;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000;
}

form.edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    width: 60%;
    padding: 20px;
    border-radius: 4px;

    background: transparent;
}


form.edit .titleForm {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 800;
    border-bottom: 2px solid var(--color-main);
    z-index: 5;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-main);
    text-transform: uppercase;
}

form.edit label {
    z-index: 5;

    width: 100%;
    margin: 5px 0 0.3125rem 0;

    color: var(--color-text);
    font-weight: bold;
}

form.edit input, form.edit button.editButtom, form.edit select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-border);
    z-index: 5;
    
    border: none;
    color: var(--color-text);
    background: transparent;
}

form.edit input {
    outline: none;
}

form.edit select {
    color: var(--color-text);
    box-shadow: none;
    outline: none;
}

form.edit button.editButtom {
    position: relative;
    overflow: hidden;
    z-index: 1;

    font-size: 17px;
    font-weight: bold;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-top: 25px;

    background: var(--color-main);
    color: var(--color-text);
    text-transform: uppercase;
    cursor: pointer;
}

form.edit button.editButtom::before, form button.editButtom::after {
    position: absolute;
    z-index: -1;

    height: 100%;
    top: 0;
    
    content: "  ";
}

form.edit button.editButtom::before {
    width: 100%;
    left: -100%;

    background: #FFE15D;
    transition: all .5s ease;
}

form.edit button.editButtom::after {
    width: 30%;
    left: -30%;

    background: var(--color-submit);
    transition: all .6s ease;
}

form.edit button.editButtom:hover::before {
    left: 0;
}

form.edit button.editButtom:hover::after {
    left: 130%;
}

form.edit button.editButtom:hover {
    color: var(--color-hover);
}


.dates {
    z-index: 5;

    display: flex;
    align-items: center;

    width: 100%;
    gap: 15px;
}

.dates input {
    color: var(--color-text);
}

.dates input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.dates div {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.dates span {
    color: var(--color-text);
}

.dates button {
    width: 50px;
    height: 60%;
    border: 1px solid var(--color-border);
    border-radius: 10px;

    background: transparent;
    color: var(--color-text);
    cursor: pointer;
}

.dates button:hover {
    background: var(--color-hover);
}

.messageTag {
    font-size: 15px;
    font-weight: bold;

    color: var(--color-main) !important;
    text-transform: lowercase;
}

.name {
    text-transform: capitalize;
}

.fondo {
    height: 90vh;
    bottom: 0;
}

.times {
    z-index: 5;

    width: 100%;
    display: flex;
}

.times .time {
    width: 60%;
}

.times .buttonsTimes {
    display: flex;
    align-items: center;
}

.times .buttonsTimes button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 60%;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid var(--color-border);

    background: transparent;
    color: var(--color-text);
    cursor: pointer;
}

.times .buttonsTimes button:hover {
    background: var(--color-hover);
}

form.edit select {
    appearance: none;
    cursor: pointer;
}

form.edit select option {
    background: var(--color-text);
    color: var(--color-background);
    cursor: pointer;
}

.danger {
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    position: relative;

    width: 60%;
    padding: 20px;
}

.danger form {
    display: flex;
    z-index: 5;

    width: 100%;
    margin-top: 10px;
}

.danger input {
    z-index: 5;

    width: 60%;
    margin-right: 15px;
    border-bottom: 1px solid var(--color-border);

    outline: none;
    border: none;
    background: transparent;
    color: white;
}


.danger span, .danger p {
    z-index: 5;

    width: 100%;
    font-size: 15px;

    color: var(--color-main);
}

.danger button {
    z-index: 5;

    width: 15%;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    border: 3px solid var(--color-main);

    background: transparent;
    color: var(--color-main);
    opacity: .5;
    cursor: pointer;
}

.danger button i {
    margin-left: 5px;
}

.back {
    z-index: 5;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 10px;

    text-decoration: none;
    color: var(--color-text);
}

.back:hover {
    background: var(--color-hover);
}

.passwordBox {
    position: relative;
    width: 100%;
}

.passwordBox button {
    position: absolute;
    right: 2%;

    font-size: 20px;
    border: none;

    background: transparent;
    color: var(--color-text);
    cursor: pointer;
}

.optionsAdmin {
    z-index: 5;
    
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

.optionsAdmin a {
    padding: 20px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--color-border);

    color: var(--color-text);
    text-align: center;
    text-decoration: none;
}

.optionsAdmin a i {
    margin-right: 5px;
}

.optionsAdmin a:hover {
    background: var(--color-hover);
}