@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;

    /* --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red; */
}


.container {
    font-family: 'Nunito Sans', sans-serif;
    grid-area: container;
    width: 100%;

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('/images/cbum.jpg');
    background-size: 110vh;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000;
    position: relative;
}

form.edit {
    background: transparent;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


form.edit .titleForm {
    color: var(--color-main);
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    padding: 0 0 20px 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-main);
}

form.edit label {
    width: 100%;
    margin: 5px 0 5px 0;
    color: var(--color-text);
    font-weight: 800;
}

form.edit input, form.edit button.editButtom, form.edit select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    padding: 10px;
    margin-bottom: 10px;
}

form.edit input {
    outline: none;
}

form.edit select {
    color: var(--color-text);
    box-shadow: none;
    outline: none;
}

form.edit button.editButtom {
    background: var(--color-main);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

form.edit button.editButtom::before, form button.editButtom::after {
    position: absolute;
    content: "  ";
    height: 100%;
    top: 0;
    z-index: -1;
}

form.edit button.editButtom::before {
    background: #FFE15D;
    transition: all .5s ease;
    width: 100%;
    left: -100%;
}

form.edit button.editButtom::after {
    background: var(--color-submit);
    transition: all .6s ease;
    width: 30%;
    left: -30%;
}

form.edit button.editButtom:hover::before {
    left: 0;
}

form.edit button.editButtom:hover::after {
    left: 130%;
}

form.edit button.editButtom:hover {
    color: var(--color-hover);
}

.dates {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.dates input {
    color: var(--color-text);
}

.dates input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.dates div {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.dates span {
    color: var(--color-text);
}

.dates button {
    width: 50px;
    height: 50%;
    background: transparent;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    border-radius: 10px;
}

.dates button:hover {
    background: var(--color-hover);
}

.messageTag {
    color: var(--color-main) !important;
    text-transform: lowercase;
    font-size: 15px;
    font-weight: bold;
}

.name {
    text-transform: capitalize;
}

.fondo {
    height: 90vh;
    bottom: 0;
}

.times {
    width: 100%;
    display: flex;
}

.times .time {
    width: 60%;
}

.times .buttonsTimes {
    display: flex;
    align-items: center;
}

.times .buttonsTimes button {
    background: transparent;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    height: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.times .buttonsTimes button:hover {
    background: var(--color-hover);
}


form.edit select {
    appearance: none;
    cursor: pointer;
}

form.edit select option {
    background: var(--color-text);
    color: var(--color-background);
    cursor: pointer;
}


.danger {
    padding: 20px;
    margin-left: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-bottom: 2%;
}

.danger form {

    margin-top: 10px;
    width: 100%;
    display: flex;
}

.danger input {
    outline: none;
    width: 60%;
    margin-right: 15px;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--color-border);
    color: white;
}


.danger span, .danger p {
    width: 100%;
    color: var(--color-main);
    font-size: 15px;
}

.danger button {
    background: transparent;
    border: 2px solid var(--color-main);
    cursor: pointer;
    color: var(--color-main);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: 15%;
    opacity: .5;
}

.danger button i {
    margin-left: 5px;
}

.back {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.back:hover {
    background: var(--color-hover);
}