:root {
    --color-main: rgb(255, 0, 68);
    /* --color-main: #EB455F; */

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    /* --color-background: #FFF;
    --color-text: #000;
    --color-hover: rgb(207, 207, 207);
    --color-border: #888;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-background);
    display: grid;
    grid-template-columns:  13% 87%;
    grid-template-areas: "navbar container ";
    font-size: 18px;
}

button::selection, a::selection, label::selection, input::selection, 
    select::selection, span::selection, img::selection, b::selection, p::selection {
    color: white;
    background: var(--color-main); 
}
