* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #1d1d1d;
    display: grid;
    grid-template-columns:  10% 90%;
    grid-template-areas: "navbar container ";
}