:root {
    --color-background: #1d1d1d;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: var(--color-background);
    display: grid;
    grid-template-columns:  10% 90%;
    grid-template-areas: "navbar container ";
}