.manager {
    background: #1d1d1d;
    width: 78%;
    height: 6vh;
    min-height: 50px;
    position: fixed;
    display: flex;
}

.manager a {
    text-decoration: none;
    color: white;
}

.search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 15%;
}

.search form {
    height: 100%;
    width: 60%;
    border: 1px solid #444;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.search input {
    outline: none;
    border: none;
    font-weight: 500;
    color: white;
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #1d1d1d inset !important;
 -webkit-text-fill-color: #FFF !important;
}

#removeButton {
    color: rgba(255, 255, 255, 0.742);
    background: transparent;
    right: 0;
}

.search button {
    background: #333;
    border: none;
    width: 10%;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

.manager .add {
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.add a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.add:hover {
    background: #333;
}

