:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;
}

.manager {
    z-index: 100;
    background: var(--color-background);
    width: 86%;
    height: 10vh;
    min-height: 6.25em;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-bottom: 12vh;
}

.manager .search, .manager .managerFooter, .manager .sorter {
    width: 92%;
    margin: auto;
    display: flex;
    align-items: center;
}

.manager .search {
    height: 65%;
}

.manager .managerFooter {
    height: 35%;
    gap: 0.9375em;
    justify-content: space-between;
}

.manager .sorter {
    height: 100%;
    gap: 0.9375em;
    padding-bottom: 0.625em;
}

.manager .sorter a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-hover);
    height: 100%;
    padding: 0 0.9375em 0 0.9375em;
    border-radius: 0.625em;
}

.manager .sorter a:hover {
    background: var(--color-border);
}

.manager a {
    text-decoration: none;
    color: var(--color-text);
}

.search {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0.625em
}

.search form {
    width: 50%;
    height: 100%;
    border: 0.0625em solid var(--color-border);
    border-radius: 1.25em;
    display: flex;
    overflow: hidden;
}

.search input {
    outline: none;
    border: none;
    font-weight: 500;
    color: var(--color-text);
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 0 0 0 1.25em;
    font-size: 1.125em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 1.875em var(--color-background) inset !important;
 -webkit-text-fill-color: var(--color-text) !important;
}

#removeButton {
    color: var(--color-text);
    background: transparent;
    right: 0;
    opacity: .3;
}

.search button {
    background: var(--color-hover);
    border: none;
    width: 10%;
    color: var(--color-text);
    cursor: pointer;
    font-size: 1.0625em;
}


.manager .add {
    width: 10%;
    height: 100%;
    border-radius: 0.625em;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.add a {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125em;
}

.manager .add:hover {
    background: var(--color-hover);
}



