:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;
}

.manager {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    width: 87%;
    height: 10vh;
    min-height: 80px;
    padding-bottom: 0.625rem;

    background: var(--color-background);
}

.manager .search, .manager .managerFooter, .manager .sorter {
    display: flex;
    align-items: center;

    width: 91%;
    margin: auto;
}

.manager .search {
    height: 70%;
}

.manager .managerFooter {
    justify-content: space-between;
    
    height: 30%;
}

.manager .sorter {
    flex-wrap: wrap;
    gap: 0.3125em;

    height: 100%;
}

.manager .sorter a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 0 0.9375em 0 0.9375em;
    border-radius: 0.625em;

    background: var(--color-hover);
}

.manager .sorter i {
    margin-left: 0.25em;
}

.manager .sorter a:hover {
    background: var(--color-border);
}

.manager a {
    text-decoration: none;
    color: var(--color-text);
}

.search {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0.625em;
}

.search form {
    display: flex;

    width: 70%;
    height: 100%;
    min-height: 20px;
    border: 0.0625em solid var(--color-border);
    border-radius: 1.25em;
    
    overflow: hidden;
}

.search input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 1.25em;
    font-size: 1.125em;
    font-weight: 500;
    border: none;

    outline: none;
    color: var(--color-text);
    background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px var(--color-background) inset !important;
 -webkit-text-fill-color: var(--color-text) !important;
}

#removeButton {
    right: 0;

    color: var(--color-text);
    background: transparent;
    opacity: .3;
}

.search button {
    width: 10%;
    font-size: 1.0625em;
    border: none;

    background: var(--color-hover);
    color: var(--color-text);
    cursor: pointer;
}


.manager .add {
    width: 10%;
    min-width: 10%;
    height: 100%;
    border-radius: 0.625em;
    
    overflow: hidden;
}

.add a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125em;
    
    width: 100%;
    height: 100%;

    text-transform: uppercase;
}

.manager .add:hover {
    background: var(--color-hover);
}



