:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #333;
    --color-border: #444;
    --color-shadow: #999;

    --color-submit: blue;
    --color-alert: red;
}

.navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 200;

    width: 13%;
    height: 100vh;

    background: transparent;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;

    width: 100%;
    padding: 0.9375rem;
    padding-left: 30px;
    font-weight: bold;
    margin-bottom: 15px;

    background: var(--color-main);
    color: var(--color-text);
    text-transform: uppercase;
}

.navbar .title img{
    width: 20px;
}

.navbar a {
    width: 90%;
    margin: 5px 0 5px 0;
    padding: 15px;
    border-radius: 10px;

    text-decoration: none;
    color: var(--color-text);
}

.navbar a:hover {
    background: var(--color-hover);
}

.navbar a:target {
    background: var(--color-hover);
}

.navbar i {
    margin-right: 10px;
}

.separator {
    width: 90%;
    margin: 10px 0 10px 0;

    border-bottom: 2px solid var(--color-border);
}