.navbar {
    background: white;
    grid-area: navbar;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #1e1e1e;
    height: 100vh;
    position: fixed;
}

.navbar a {
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: #1e1e1e;
}

.navbar a:hover {
    background: #333;
    color: white;
}

.navbar div i {
    margin: 0 10px 0 10px;
}