@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');


:root {
    --color-main: rgb(255, 0, 68);

    --color-background: #111;
    --color-text: white;
    --color-hover: #222;
    --color-border: #333;
}

.container {
    grid-area: container;

    background: transparent;
}

.containerPlaces {
    padding: 20px;
}


.place {
    display: flex;
    flex-direction: column;

    width: 89%;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid var(--color-main);
    
    
    color: var(--color-text);
    text-decoration: none;
}

.place .header {
    display: flex;
    justify-content: space-between;
}

.place span.name {
    font-size: 40px;

    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}

.place:hover {
    background: #111;
}

.addPlace {
    display: flex;
    justify-content: space-between;
    gap: 5px;

    width: 89%;
    margin: auto;
    padding: 20px;
}

.addPlace a, .addFirstPlace a {
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;

    text-decoration: none;
    color: var(--color-text);
}

.addPlace a:hover {
    background: var(--color-hover);
}


.addFirstPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.addFirstPlace span {
    color: var(--color-text);
}

.addFirstPlace a {
    font-size: 40px;
    border-radius: 0;
}

.addFirstPlace a:hover {
    border-bottom: 2px solid var(--color-border);
}